body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
}

.amountContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15px;
}

.leftSide{
    display: grid;  
}

.smallContainer{
    display: grid;  
}

.rightSide small:nth-child(){
    background-color: red;
}